.fa-snapchat-ghost {
    border-radius: 8px;
    background-color: yellow;
    border: black;
    border-width: 1px;
}

.fa-instagram {
    border-radius: 8px;
    background-image: linear-gradient(to bottom left, rgb(79,91,213), rgb(150,47,191), rgb(214,41,118), rgb(250,126,30), rgb(254,218,117));
    border: black;
    border-width: 1px;
}