@import url('https://fonts.googleapis.com/css?family=Orbitron:400,500');

body {
  height: 200px;
  background-color: red; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, red , yellow); /* Standard syntax (must be last) */
}

h1 {
font-family: orbitron;
font-size: 200%;
}
