@import url('https://fonts.googleapis.com/css?family=Orbitron:400,500');

body {
  height: 200px;
  background-color: red; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, red , yellow); /* Standard syntax (must be last) */
}

.header {
font-family: orbitron;
font-size: 200%;
}

.responsiveImage {
  width: 100%;
  height: auto;
  max-width: 40px;
}
