Start Alliance
Start position (left third, middle third, right third CAN THEY START OFF OF THE LINE)
Number of power cells loaded
button for:
start match (automatically is put in auto state)
    exited line
    scored power cell 
        base level
        hex level
        inner level
    power cell intake
        ground
        loading station
    committed a foul
        foul
        yellow flag
    is disabled
        switch between yes and no
switch to teleop (should be switchable in case of accidental click)
    scored power cell
        base level
        hex level
        inner level
    power cell intake
        ground
        loading station
    committed a foul
        foul
        yellow flag
    rotated control panel
        stage 1
        stage 2
        stage 3


There should be indicators for:
    Number of balls in robot currently
    Robot team Number
    Alliance Color (badge next to team number)
    Match number
    Auto or Teleop (A/TP)
    Number of fouls (put a yellow flag next to robot with yellow flag and red next to red bot)
    number of times robot has been disabled
    Number of points scored by robot
    Number of power cells scored by robot
    shooting accuracy